body *{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
#wrapper-container {
    background-color: #FEBC0D;
    padding-top: 50px;
}

.image-path {
    margin: 40px;
    max-width: 40px;

}

.image-top {
    width: 270px;
    height: 277px;
    background-color: #D50605;
    background-repeat: no-repeat;
    background-image: url(images/Path.png);
    margin: auto;
    align-items: center;
    background-position: center;
}

.wrapper-content {
    text-align: center;
}

.select-language-box {
    width: 45%;

}

.box-content {
    /* margin:15px 15px; */
    vertical-align: middle;
}

.inner-box-1 {
    max-width: 250px;
    height: 200px;
    background-color: red;
    margin: auto;
    text-align: center;
    margin-top: 41px;
    border-radius: 10px;

}

.inner-box-2 {
    max-width: 250px;
    height: 200px;
    background-color: red;
    margin: auto;
    text-align: center;
    margin-top: 41px;
    border-radius: 10px;

}

.m-bottom {
    padding-bottom: 150px !important;
}

.border-radius {
    border-radius: 10px;
}

.select-language-box #my-select {
    background-color: #FEBC0D;
    border: solid 1px rgb(24, 21, 21);
}

.heading h3,
.heading a {
    padding-top: 80px;
    color: black;
}

.heading a:hover {
    color: black;
}

/* @media only screen and (max-width: 350px) {
    .nav-item img{
        width:340px;
    }
    .search-margin input{
        display: none;
    }
} */
@media (min-width: 350px) {
    .header-image-bg {
        position: relative;
        top: -30px;
        width: 100%;
        height: 250px !important;
        background-image: url(images/Ads.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .col-xs-2 {
        width: 200px !important;
        /* margin:auto;
        text-align: center; */
    }

    .top-content-bar {
        width: 50% !important;
    }


}

@media (min-width: 576px) {

    .header-image-bg {
        position: relative;
        top: -30px;
        width: 100%;
        height: 250px !important;
        background-image: url(images/Ads.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .order-cart {
        padding: 20px;
        max-width: 1200px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #fff;
        border-radius: 10px;
        font-size: 8px;
        align-items: center;
    }

    .ordering-item-1 {
        padding: 15px;
        font-weight: 600;
    }
    

    .ordering-item-2 {
        padding: 15px;
        margin: auto;
        text-align: right;
        font-weight: 600;

    }

    .ordering-item-2 a {
        color: inherit;
        text-decoration: underline;
    }

    .footer-order-link {
        margin: auto;
        text-align: center;
        
    }

    .fixed-footer-button a {
        border: 3px solid #191919;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40%;
        padding:10px;
        font-size: 16px;
         font-weight: 600;

    }

}

@media (max-width: 768px) {
    .image-path {
        margin: 40px;
        width: 40px;
    }

    .image-top {
        width: 200px;
        height: 207px;
        background-size: 80%;
        background-color: #D50605;
        background-repeat: no-repeat;
        background-image: url(images/Path.png);
        margin: auto;
        align-items: center;
        background-position: center;
    }

    .language-box {
        margin-right: 6px !important;
    }

    .m-right {
        margin-left: 15px;
        margin-right: 24px;
        ;
        margin-top: 20px;
    }

    /* Main page top header */
    .header-image-bg {
        position: relative;
        top: -30px;
        width: 100%;
        height: 220px !important;
        background-image: url(images/Ads.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .ordering-item-1 {
        padding: 10px;

    }

    .ordering-item-2 {
        padding: 10px;
        margin: auto;
        text-align: right;
    }

    .ordering-item-2 a {
        color: inherit;
        text-decoration: underline;
    }

    .footer-order-link {
        margin: auto;
        text-align: center;
    }

    .fixed-footer-button a {
        border: 3px solid #191919;
        padding:5px;
        font-size: 16px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40%;
    }


}




/* Main Page top*/
.header-image-bg {
    width: 100%;
    height: 200px;
    margin-top: -20px;
    background-image: url(images/Ads.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    /* color: #aaa; */
}

/* .search-margin {
    margin-top: 10px;
} */

.text-heading h3 {
    /* font-family: Lato; */
    font-size: 48px;

}

.btn-search button {
    border-radius: 50px;
}


/* left-side tabs */
.left-tabs.sideways-tabs,
.right-tabs.sideways-tabs {
    margin-top: 5rem;
    border: none;
    position: relative;
    margin-bottom: 0;
}

.left-tabs.nav-tabs,
.right-tabs.nav-tabs,
.left-tabs.sideways-tabs,
.right-tabs.sideways-tabs {
    height: 100%;
    flex-direction: column;
}

.left-tabs.nav-tabs {
    border-right: 1px solid #dee2e6;
    border-bottom: none;
}

.left-tabs .nav-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px;
    text-align: left;
}

.left-tabs .nav-link:hover {
    border-right: 1px solid transparent;
}

.left-tabs .nav-link.active {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

@media (min-width: 20em) and (max-width: 60em) {
    .left-tabs.nav-tabs {
        flex-direction: row;
        border-right: none;
        border-left: none;
        min-width: 100%;
        border-bottom: 1px solid #dee2e6;
        left: auto;
        margin-top: auto;
    }

    .left-tabs .nav-link {
        width: 8rem;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.25rem;
        margin-right: 0;
        margin-bottom: -1px;
    }

    .left-tabs .nav-link.nav-link:hover {
        border-right-color: #dee2e6;
        border-bottom-color: red;
    }

    .left-tabs .nav-link.active {
        border-top-color: #dee2e6;
        border-right-color: #dee2e6;
        border-bottom-color: transparent;
        border-left-color: #dee2e6;
    }

    .sideways-tabs.left-tabs .nav-item,
    .sideways-tabs.right-tabs .nav-item {
        transform: none;
        height: auto;
        width: auto;
        margin-bottom: 0;
    }

    .border-size-remove button {
        margin-top: 30px;
    }


}

@media (max-width: 26em) {
    .left-tabs.nav-tabs {
        flex-direction: row;
        border-right: none;
        border-left: none;
        min-width: 100%;
        border-bottom: 1px solid #dee2e6;
        left: auto;
        margin-top: auto;
        padding-bottom: 0.25rem;
    }

    .sideways-tabs.nav-tabs .nav-link.active,
    .left-tabs .nav-link.active,
    .right-tabs .nav-link.active {
        border-top-color: #dee2e6;
        border-right-color: #dee2e6;
        border-bottom-color: #dee2e6;
        border-left-color: #dee2e6;
    }
}

.tab-content {
    padding: 1rem;
}



/* sidebar overflow */
.sidebar-overflow {
    height: 500px;
}

.nav-item img {
    /* width:150px; */
}

.nav-item {
    /* background-color: red; */
    margin: 10px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.12),
  1px 1px 1px 1px rgba(0, 0, 0, 0.12),
  1px 1px 1px 1px rgba(0, 0, 0, 0.12),
  1px 1px 1px 1px rgba(0, 0, 0, 0.12),
  1px 1px 1px 1px rgba(0, 0, 0, 0.12); */
    border-radius: 10px;
}

.nav-tabs>li>a:hover {
    border-radius: 10px !important;
    border: 3px solid #E8A901 !important;
}

.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

.border-danger {
    /* border-radius: 10px !important; */
    border: 3px solid #E8A901 !important;
}

@media (min-width: 992px) {
    .heading-products h3 {
        /* margin-bottom: -20px; */
    }

    .border-size-remove button,
    .edit-cart-button button {
        padding-left: 20%;
        padding-right: 20%;
    }

    .edit-cart-button button {}

    .customize-content {
        width: 934px;
        margin: auto;
        text-align: center;
    }

    .main-box-content .card-footer h3 {
        margin: auto !important;
        text-align: left !important;

    }

    .ordering-item-1 {
        padding: 20px;

    }

    .ordering-item-2 {
        padding: 20px;
        margin: auto;
        text-align: right;
    }

    .ordering-item-2 a {
        color: inherit;
        text-decoration: underline;
    }

    .footer-order-link {
        margin: auto;
        text-align: center;
    }

    .fixed-footer-button a {
        border: 3px solid #191919;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40%;
        padding:10px;
        font-size: 20px;
    }

}

.border-warning {
    border-width: 2px !important;
    border-radius: 10px 10px 10px 10px !important;
    /* border-top-left-radius: 10px;
        border-top-right-radius: 10px; */

}

.main-box-content {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    border-width: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    /* border-radius: 20px 20px 20px 20px !important; */

}

.main-box-content:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

}

.cart-image-content button {
    position: relative;
    top: 35%;
}

.cart-image-1 img {
    width: 136px;
    height: 136px;
}

.cart-image-content h3 {
    font-size: 48px !important;
}

.buttons-width button,
.buttons-width a {
    width: 49.4%;
}

.customize-labeling {
    font-size: 25px !important;
}

.top-margin {
    margin-top: 28px;
    ;
}

.back-button-size a {
    border: 3px solid #191919;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 50px;
    width: 47%;
}

.qr-back-button-size a {
    border: 3px solid #191919;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 50px;
    margin-top: 50px;

    width: 82%;
}

.back-button-size {
    text-align: center;
}

.confirm-button {
    border: 3px solid rgba(0, 128, 0, 0.13) !important;
}

.buttons-width .back-button-cart-size {
    border: 3px solid #191919;
    border-radius: 10px;
}

.border-width .order-button-cart-size {
    border: 3px solid green;
    border-radius: 10px;
}

/* mmm */
.top-margin>.product-box-1 .main-box-content:hover {
    border-radius: 10px !important;
    border: 3px solid #E8A901 !important;
}

.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

.order-list-heading h2 {
    margin-top: 56px;
    margin-bottom: 20px;
    font-size: 48px;
}

.order-cart {
    padding: 20px;
    max-width: 934px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #fff;
    border-radius: 10px;
    font-size: 21px;
    align-items: center;

}

.total-cart {
    padding: 20px;
    max-width: 934px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    font-size: 21px;
    align-items: center;
}

.border-size-remove button {
    border: 3px solid #191919;
    border-radius: 10px;
}

.border-size-remove .fa-trash-o {
    display: none;
}

.order-footer-button a {
    width: 35%;
    margin: auto;
    text-align: center;
}

.order-footer-button {
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px
}

.payment-option-heading,
.payment-option-heading h3 {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

.payment-option-button a {
    padding: 15px;
    width: 100%;
    font-weight: 600;
}

.payment-option-button {
    width: 430px;
    margin: auto;
    text-align: center;
}

.qr-code {
    width: 30px;
    height: 30px
}

.payment-option-button {
    margin-top: 65px;
}

.qr-image img {
    width: 300px;
    height: 300px;

}

.qr-heading h3,
.message-heading h3 {
    font-size: 38px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.qr-content {
    margin: auto;
    text-align: center;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;

}

.order-fixed-footer-button a {
    margin-left: 8px !important;
    width: 35%;
    margin: auto;
    text-align: center;
}

.footer-2 {
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    height: 60px;
    margin-bottom: -25px;
}


.fixed-footer-button {
    text-align: center;
}

.message-content {
    max-width: 650px;
    margin: auto;
    text-align: center;

}

.message-body h3 {
    margin-top: 100px;
    font-size: 45px;
}

.image-1 {
    margin: auto !important;
    text-align: right !important;

}

.footer-top-1 {
    padding-left: 33px !important;
}

.footer-top-2 {
    margin: auto !important;
    text-align: right !important;
}

   .footer-top-2,
   .footer-top-1 {
       font-weight: 600;
       padding: 15px;
   }

   /* drag bar color */

   .mCSB_dragger_bar,
   .mCSB_draggerRail {
       background-color: #fff !important;
   }